/* style presets */
:root {
    --color: rgb(0, 46, 84);
    --background: #20242d;
    --long-text-font-family: "Noto Serif";
    --short-text-font-family: "Noto Sans Light";
}

/* fonts */
@font-face {
    font-family: 'Noto Serif Lt';
    src: url("../assets/fonts/NotoSerif-Light.eot");
    src: local("../assets/fonts/Noto Serif Light"), local("../assets/fonts/NotoSerif-Light"), url("../assets/fonts/NotoSerif-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NotoSerif-Light.woff2") format("woff2"), url("../assets/fonts/NotoSerif-Light.woff") format("woff"), url("../assets/fonts/NotoSerif-Light.ttf") format("truetype"), url("../assets/fonts/NotoSerif-Light.svg#NotoSerif-Light") format("svg");
    font-weight: 300;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Serif Med';
    src: url("../assets/fonts/NotoSerif-Medium.eot");
    src: local("Noto Serif Medium"), local("../assets/fonts/NotoSerif-Medium"), url("../assets/fonts/NotoSerif-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NotoSerif-Medium.woff2") format("woff2"), url("../assets/fonts/NotoSerif-Medium.woff") format("woff"), url("../assets/fonts/NotoSerif-Medium.ttf") format("truetype"), url("../assets/fonts/NotoSerif-Medium.svg#NotoSerif-Medium") format("svg");
    font-weight: 500;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans';
    src: url("../assets/fonts/NotoSans-Regular.eot");
    src: local("Noto Sans Regular"), local("../assets/fonts/NotoSans-Regular"), url("../assets/fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NotoSans-Regular.woff2") format("woff2"), url("../assets/fonts/NotoSans-Regular.woff") format("woff"), url("../assets/fonts/NotoSans-Regular.ttf") format("truetype"), url("../assets/fonts/NotoSans-Regular.svg#NotoSans-Regular") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans Lt';
    src: url("../assets/fonts/NotoSans-Light.eot");
    src: local("../assets/fonts/Noto Sans Light"), local("../assets/fonts/NotoSans-Light"), url("../assets/fonts/NotoSans-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NotoSans-Light.woff2") format("woff2"), url("../assets/fonts/NotoSans-Light.woff") format("woff"), url("../assets/fonts/NotoSans-Light.ttf") format("truetype"), url("../assets/fonts/NotoSans-Light.svg#NotoSans-Light") format("svg");
    font-weight: 300;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans Med';
    src: url("../assets/fonts/NotoSans-Medium.eot");
    src: local("../assets/fonts/Noto Sans Medium"), local("../assets/fonts/NotoSans-Medium"), url("../assets/fonts/NotoSans-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NotoSans-Medium.woff2") format("woff2"), url("../assets/fonts/NotoSans-Medium.woff") format("woff"), url("../assets/fonts/NotoSans-Medium.ttf") format("truetype"), url("../assets/fonts/NotoSans-Medium.svg#NotoSans-Medium") format("svg");
    font-weight: 500;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans SemBd';
    src: url("../assets/fonts/NotoSans-SemiBold.eot");
    src: local("../assets/fonts/Noto Sans SemiBold"), local("../assets/fonts/NotoSans-SemiBold"), url("../assets/fonts/NotoSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NotoSans-SemiBold.woff2") format("woff2"), url("../assets/fonts/NotoSans-SemiBold.woff") format("woff"), url("../assets/fonts/NotoSans-SemiBold.ttf") format("truetype"), url("../assets/fonts/NotoSans-SemiBold.svg#NotoSans-SemiBold") format("svg");
    font-weight: 600;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans ExtLt';
    src: url("../assets/fonts/NotoSans-ExtraLight.eot");
    src: local("../assets/fonts/Noto Sans ExtraLight"), local("../assets/fonts/NotoSans-ExtraLight"), url("../assets/fonts/NotoSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NotoSans-ExtraLight.woff2") format("woff2"), url("../assets/fonts/NotoSans-ExtraLight.woff") format("woff"), url("../assets/fonts/NotoSans-ExtraLight.ttf") format("truetype"), url("../assets/fonts/NotoSans-ExtraLight.svg#NotoSans-ExtraLight") format("svg");
    font-weight: 200;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans Anatolian Hieroglyphs';
    src: local("../assets/fonts/Noto Sans Anatolian Hieroglyphs"), url("../assets/fonts/NotoSansAnatolianHieroglyphs-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans Egyptian Hieroglyphs';
    src: local("../assets/fonts/Noto Sans Egyptian Hieroglyphs"), url("../assets/fonts/NotoSansEgyptianHieroglyphs-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans Arabic Light';
    src: local("../assets/fonts/Noto Sans Arabic Light"), url("../assets/fonts/NotoSansArabic-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans Devanagari Light';
    src: local("../assets/fonts/Noto Sans Devanagari Light"), url("../assets/fonts/NotoSansDevanagari-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans CJK SC';
    src: local("../assets/fonts/Noto Sans CJK SC"), url("../assets/fonts/NotoSansCJKsc-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans CJK TC';
    src: local("../assets/fonts/Noto Sans CJK TC"), url("../assets/fonts/NotoSansCJKtc-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans Coptic';
    src: local("../assets/fonts/Noto Sans Coptic"), url("../assets/fonts/NotoSansCoptic-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Noto Sans Lydian';
    src: local("../assets/fonts/Noto Sans Lydian"), url("../assets/fonts/NotoSansLydian-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }

/* -- MAIN STYLES ---*/

html {
    scroll-padding-top: 12vh;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 53%;
    height: 82px;
    font-size: 14px;
    line-height: 24px;
    color: #1a1a18;
    background: var(--background);
}

.menu-bar {
    position: fixed;
    top: 0;
    height: 40px;
    overflow: hidden;
    color: #444;
    border-bottom: 1px solid #ddd;
    z-index: 20000;
    width: 50%;
    background: var(--background);
}

.editorButtons {
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    border-bottom: 1px dotted black;
    font-weight: 700;
}

input[type='file'] {
    color: transparent;
    max-width:10vw;
}

#text-content-wrapper {
    padding: 2vw;
    overflow-y: scroll;
    height: 100vh;
    margin-top: 82px;
    background: #2b2929;
}

#panel-wrapper {
    padding: 2vw;
    overflow-y: scroll;
    height: 100vh;
    margin-top: 82px;
    background: #918A82;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* PreView-Styles */
#versionId {
    font-size: 0.8em;
    color: #73c79c;
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-weight: 600;
}

#article {
    visibility: visible !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family:var(--short-text-font-family);
    font-weight: 600;
}

h1 {
    color: var(--color);
    font-size: 2em;
    padding: 3.5vh 0;
    line-height: 1.5;
}

h2 {
    color: var(--color);
    font-size: 1.6em;
    padding: 2.5vh 0;
}

h3 {
    color: var(--color);
    padding: 2vh 0;
}

p {
    /* counter-increment: paragraphNumber; */
    color:#c4c2c2 !important;
    font-family: var(--long-text-font-family);
    font-size:1.2em;
    line-height: 1.8;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens:  auto;
    -ms-hyphens: auto;
}

/*
#article p::before {
    content: counter(paragraphNumber);
}

*/

li {
    color:#c4c2c2 !important;
    font-size:0.9em;
    line-height: 1.5;
}

a {
    color: #4e72d0;
    font-weight: 600;
}

table {
    display: grid;
    font-size: 0.9em;
    border: 1px solid #ffffff3b;
    line-height: 1.4;
    background: aliceblue;
}

tr {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10px,1fr));
    position: relative;
}

td {
    color: black;
    border-right: 1px solid #ffffff3b;
    padding: 6px 12px;
    overflow: hidden;
    outline: none;
    line-break: normal;
}

details {
    padding-top: 2vh;
    color: #211f1f;
}

summary {
    font-size:1.5em;
}

.topbar-logo-img {
    width:inherit;
}

img {
    width: 100%;
}

/* Table of contents (ToC)
--------------------------------------- */

ul.toc-list {
    padding:0;
    margin-top:4vh;
}

.heading-ref {
    cursor: pointer;
    display: block;
    font-weight: 600;
    font-size: 1em;
    border: 1px solid transparent;
}

.heading-ref.active {
    color: rgba(0, 0, 0, 0.9);
    background: #fff;
    border: 1px solid #eee;
}

.heading-ref.level-1 {
    font-size: 1.2em;
    font-weight: 600;
}

.heading-ref.level-2 {
    padding-left: 20px;
    font-size: 1em;
    font-weight: 600;
}

.heading-ref.level-3 {
    padding-left: 40px;
    font-size: 0.9em;
    font-weight: 600;
}

.heading-ref.level-4 {
    padding-left: 60px;
    font-size: 0.8em;
    font-weight: 600;
}

.heading-ref.level-5 {
    padding-left: 80px;
    font-size: 0.7em;
    font-weight: 600;
}

.heading-ref:hover {
    color: black;
}

.heading-ref-a {
    color: white;
}
.cover-image {
    margin-top:3vh;
    width: auto;
    max-width: 100%;
    height: auto;
}

/* -- Scrollbar ---*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/* Add css for HTMLfromJATS: */

.paragraph-counter {
    color:#b4afa7;
    font-size:14px;
    font-style:normal;
    font-weight:300;
    margin-right: 1vw;
}

.main-title {
    color: var(--color);
    font-size: 2em;
    padding: 3.5vh 0;
    line-height: 1.5;
}
