:root {
    --color-background: #4a4747;
    --color-pageSheet: #cfcfcf;
    --color-pageBox: violet;
    --color-paper: white;
    --long-text-color: black;
    --short-text-color: black;
    --footnote-text-color:  black;
    --color-marginBox: transparent;
    --long-text-font-family: "Noto Serif Light";
    --headline-text-font-family: "Noto Sans Light";
    --short-text-font-family: "Noto Sans Light";
    --p-font-size: 10pt; /* default: 9.3pt */
    --line-height-para: 1.5; /* default 1.5 */
    --footnote-font-size: 7.3pt; 
    --caption-font-size: 7.3pt;
    --line-height-cap: 1.37; /* 10pt to 7.3pt */
    --li-font-size: 10pt; /* 9.3pt; */
    --imgMarginBottom: 2.5mm;
    --floatFigureMarginToText: 7.5mm;
    --floatFigureMarginBottom: 7.5mm;
    --floatFigureOffsetToMarginArea: -40mm;
    --figureMarginBottomDefault: 7.5mm;
    --pagedjs-crop-color: black;
    --pagedjs-crop-shadow: white;
    --pagedjs-crop-stroke: 1px;
    --pagedjs-padding-top: 5mm;
    --pagedjs-area-width: 130mm;
}

/* page styles
---------------------*/
@page {
    size: 210mm 297mm;
    margin-top: 15mm;
    margin-bottom: 20mm;
    /* marks: crop cross; */
}

@page :left {
    margin-left: 20mm;
    margin-right: 60mm;
    box-shadow: 0px -1px 5px 2px #e1e1e1;

    @bottom-left {
        content: var(--article-title);
        font-family: var(--short-text-font-family);
        font-size: 6pt;
        font-weight: 300;
        line-height: 1.5;
        padding-bottom: 30pt;
        align-items: end;
        color: black;
    }
    @bottom-right-corner {
        content: counter(page);
        padding: 0 0 20mm 38mm;
        font-size: 12pt;
        font-weight: 500;
    }
}

@page :right {
    margin-left: 60mm;
    margin-right: 20mm;
    box-shadow: 0px -1px 5px 2px #e1e1e1;

    @bottom-right {
        content: var(--article-title);
        font-family: var(--short-text-font-family);
        font-size: 6pt;
        font-weight: 300;
        line-height: 1.5;
        padding-bottom: 30pt;
        align-items: end;
        color: black;
    }
    @bottom-left-corner {
        content: counter(page);
        padding: 0 38mm 20mm 0;
        font-size: 12pt;
        font-weight: 500;
    }
}

.pagedjs_right_page .pagedjs_margin-bottom {
    width: 130%;
    margin-left: -42mm;
}

.pagedjs_left_page .pagedjs_margin-bottom {
    width: 130%;
    margin-right: -42mm;
}

/* cover page */
@page :first {
    /* margin-top: 150%;   */
    margin-left: 30mm;
    margin-right: 30mm;
    background: var(--journal-color);
    background-size:contain;
    background-repeat: no-repeat;
    counter-increment: page 0;

    @bottom-right {
        content: "";
    }
    @bottom-left-corner {
        content: "";
    }
}

@media screen, pagedjs-ignore {
    body {
        background: url(assets/graphics/idaiworld-banner.png);
    }

    .pagedjs_pages {
        display: flex;
        width: calc(var(--pagedjs-width) * 2);
        flex: 0;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: var(--pages-flex-direction);
        margin: 0 auto;
    }

    .pagedjs_page {
        background-color: var(--color-paper);
        margin: 0;
        flex-shrink: 0;
        flex-grow: 0;
        margin-top: 10mm;
    }

    .pagedjs_page:last-of-type {
        margin-bottom: 10mm;
    }

    .pagedjs_pagebox {
        box-shadow: 0 0 0 1px var(--color-pageBox);
    }

    .pagedjs_left_page {
        z-index: 20;
        width: calc(var(--pagedjs-bleed-left) + var(--pagedjs-pagebox-width)) !important;
    }

    .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-crop {
        border-color: transparent;
    }

    .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-middle {
        width: 0;
    }

    .pagedjs_right_page {
        z-index: 10;
        position: relative;
        left: calc(var(--pagedjs-bleed-left) * -1);
    }

    /* show the margin-box */
    .pagedjs_margin-top-left-corner-holder,
    .pagedjs_margin-top,
    .pagedjs_margin-top-left,
    .pagedjs_margin-top-center,
    .pagedjs_margin-top-right,
    .pagedjs_margin-top-right-corner-holder,
    .pagedjs_margin-bottom-left-corner-holder,
    .pagedjs_margin-bottom,
    .pagedjs_margin-bottom-left,
    .pagedjs_margin-bottom-center,
    .pagedjs_margin-bottom-right,
    .pagedjs_margin-bottom-right-corner-holder,
    .pagedjs_margin-right,
    .pagedjs_margin-right-top,
    .pagedjs_margin-right-middle,
    .pagedjs_margin-right-bottom,
    .pagedjs_margin-left,
    .pagedjs_margin-left-top,
    .pagedjs_margin-left-middle,
    .pagedjs_margin-left-bottom {
        box-shadow: 0 0 0 1px inset var(--color-marginBox);
    }
}

/* main compontents:
--------------------*/
body {
    text-rendering: optimizeLegibility;
}

/* text blocks
-----------------*/
p {
    font-family: var(--long-text-font-family);
    font-size: var(--p-font-size);
    color: var(--long-text-color);
    line-height: var(--line-height-para);
    font-weight: 300; /* light */
    margin-top:0;
    margin-bottom: 2.5mm; /* 0, 0.5 or 2.5mm;  */
    text-align: justify;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    widows: 3;
    orphans: 3;
}

.paragraph-counter {
    font-family: var(--short-text-font-family);
    color: #b4afa7;
    font-size: var(--p-font-size);
    font-style: normal;
    font-weight: 300;
    margin-right: 10mm;
    border-left: 1px solid var(--color-paper);
}

p.catalog-number {
    font-size: 10pt;
    color: var(--journal-color);
    font-weight: 600;
}

span.text-medium {
    font-weight: 500;
}

ul.list, ol.list {
    margin: 0;
}

ul.list {
    list-style-type: square;
}

li {
    font-family: var(--long-text-font-family);
    font-weight: 300; /* light */
    color: var(--long-text-color);
    font-size: var(--li-font-size);
    line-height: var(--line-height-para);
    padding-left: 2.5mm;
    margin: 1.5mm 0;
    text-align: justify;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

p.signature {
    text-align: right;
    margin: 2.5mm 0;
}

span.italic {
    font-style: italic;
}

pre, code {
    white-space: pre-line;
}

.bold {
    font-weight:600;
}

/* headlines:
----------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headline-text-font-family);
    color: var(--journal-color);
    font-weight: 400; /* regular */
}

.title {
   page-break-inside: avoid;
}

.title.first-element {
    padding-top:0;
    margin-top:0;
}

.main-title {
    font-size: 14pt;
    margin: 5mm 0 3mm 0;
    line-height: 1.5; /* 21pt to 14pt */    
}

.main-title.first-element {
    padding-top:0;
}

.section-title {
    font-size: 11pt;
    line-height: 1.27; /* 14pt to 11pt */
    margin: 5mm 0 3mm 0;
}

.section-title.first-element {
    padding-top:0;
}

.subsection-title {
    color: var(--journal-color);
    font-size: var(--p-font-size);
    line-height: 1.5; /* 9.3pt to 14pt */
    margin: 5mm 0 2mm 0;
}

.title-appendix {
    font-family: var(--headline-text-font-family);
    line-height: 1.5; /* 14pt to 9.3pt */;
    font-weight: 500; /* medium */
    color: black;
    text-transform: uppercase;
    border-top: 3px solid var(--journal-color);
    margin-top: 0;
    padding-top: 2mm;
}

.title-appendix.first-element {
    margin-bottom: 2mm;
    padding-top: 2mm;
}

/* anchors and hyperlinks
-----------------------------------*/
a {
    text-decoration: underline;
    color: black;
    word-break: break-all;
}

a:hover {
    background: rgb(250 250 172);
}

a.footnote-reference {
    text-decoration: none;
    font-size: var(--p-font-size);
}

/* figure references */
a.figure-reference {
    text-decoration:none;
    font-weight:600;
}

a.fig-ref {
    font-weight:600;
    text-decoration:none;
    word-break: keep-all;
}

a.bib-ref {
    text-decoration:none;
}

a.fn-ref {
    text-decoration:none;
    word-break: keep-all;
}

/* table styles
------------------*/
.table-wrap {
    margin-top: 5mm;
    margin-bottom: 5mm;
}

table {
    font-family: var(--long-text-font-family);
    display: grid;
    font-size: 9pt;
    line-height: var(--line-height);
    border: 1px solid #ededed;
    clear:both;
}

tr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    position: relative;
}

td {
    color: var(--long-text-color);
    border-right: 1px solid #ffffff3b;
    padding: 6px 12px;
    overflow: hidden;
    outline: none;
    line-break: normal;
}

table td { border-left: 1px solid #ededed; }
table td:first-child { border-left: none; }

/* cover-Page:
 ----------------*/
.cover-page {
    position: absolute;
    width: 100%;
    padding: 10mm 10mm;
    bottom: 10mm;
    font-family: var(--short-text-font-family);
    break-before: page;
    background:white;
    line-height: var(--line-height);  /* 14pt zu 9.3pt */
}

.abstract-headline {
    font-family: var(--headline-text-font-family);
    font-size: var(--p-font-size);
    font-weight: 500; /* medium */
    text-transform: uppercase;
    color: black;
    margin-bottom: 0;
}

.abstract-title {
    font-family: var(--headline-text-font-family);
    font-weight: 500; /* medium */
    color: var(--journal-color);
    font-size: 11pt;
    margin: 0;
    text-align: left;
    hyphens: none;
}

.abstract-subtitle {
    color: var(--journal-color);
    font-size: 10pt;
    font-weight: 300; /* light */
    margin: 0;
}

.abstract-author {
    color: #929292;
    font-size: var(--p-font-size);
    padding: 0;
    margin: 0;
}

.abstract-text {
    color: #929292;
    font-size: var(--p-font-size);
    margin: 5mm 0;
    display:block;
    text-align: justify;
}

.keywords-headline {
    font-family: var(--headline-text-font-family);
    font-size: var(--p-font-size);
    font-weight: 500; /* medium */
    text-transform: uppercase;
    color: black;
    margin-bottom: 0;
    padding-bottom: 2mm;
    text-overflow: ellipsis;
}

.kwd-group {
    font-size: var(--p-font-size);
    font-family: var(--short-text-font-family);
    color: #929292;
    margin: 0;
    font-weight: 300;
    text-align: justify;
}

/* page-header:
 ----------------*/
#page-header {
    break-before: page;
    break-after: avoid;
    margin-bottom: 30mm;
    margin-right: -35mm;
    margin-left: 40mm;
}

.page-authors {
    font-family: var(--headline-text-font-family);
    font-size: 10pt;
    line-height: 1.6;  /* 16pt to 10pt */
    font-weight: 400; /* regular */
    color: #929292;
    text-transform: uppercase;
    text-align:justify;
    margin: 0;
    padding: 0 0 5mm 0;
}

.page-title {
    font-family: var(--headline-text-font-family);
    color: var(--journal-color);
    font-weight: 300; /* light */
    font-size: 30pt;
    line-height: 1.25; /* 38pt to 30pt */
    margin: 0;
    border-top: 5mm solid var(--journal-color);
    padding-top: 5mm;
}

.page-subtitle {
    font-family: var(--headline-text-font-family);
    font-weight: 300; /* light */
    font-size: 18pt;
    line-height: 1.45; /* 26pt to 18pt */
    color: var(--journal-color);
    margin: 0;
}

.page-contributors {
    font-family: var(--headline-text-font-family);
    font-weight: 300; /* light */
    font-size: var(--p-font-size);
    line-height: var(--line-height); /* 9.3pt to 14pt */
    color: #929292;
    text-align:justify;
    margin: 0;
    padding: 5mm 0 0 0;
}

/* footnotes
---------------*/
span.footnote {
    font-family: var(--long-text-font-family);
    font-size: var(--footnote-font-size);
    color: var(--footnote-text-color);
    font-weight: 300; /* light */
    line-height: 1.2; /* 8.75pt to 7pt */
    float: footnote;
}

.footnote-1-10 {
    text-indent: calc(var(--footnote-font-size) * -2);  /* 15pt; */
    padding-left: 20pt;
}

.footnote-10-99 {
    text-indent: calc(var(--footnote-font-size) * -2.5);  /* -18.75pt */;
    padding-left: 20pt;
}

.footnote-100-999 {
    text-indent:  calc(var(--footnote-font-size) * -3);  /* -22.5pt; */;
    padding-left: 26pt;
}

.pagedjs_footnote_content {
    border-top: 1px solid #b4afa7;
    padding: 2.5mm 0;
} 

.pagedjs_footnote_area {
    border-bottom: 1px solid #b4afa7;
    margin-top: 2.5mm;
}

[data-footnote-marker]::marker {
    content: counter(footnote-marker) "    ";
    white-space:pre;
}

/* boxed-text and glossary: 
--------------------------*/
#glossary {
    break-before: page;
}

.boxed-text {
    font-family: var(--long-text-font-family);
    font-weight: 300; /* light */
    color: var(--long-text-color);
    background: #ffffff;
    font-size: var(--p-font-size);
    padding: 5mm;
    margin: 5mm 0;
    margin-left: 2mm;
    border: 1px solid var(--journal-color);
    box-shadow: -8px 0px 0px 0px var(--journal-color);
    border-radius:10px;
    text-align: justify;
    page-break-inside: avoid;
    clear:both;
}


/* endnotes-section
---------------------*/
#endnotes-section {
    break-after: page;
    break-before: page;
    text-align: left;
}

#endnotes-section > .footnote {
    font-family: var(--long-text-font-family);
    font-size: 8.3pt;
    font-weight: 300; /* light */
    line-height: 1.385;/* 11.5pt to 8.3pt */
    padding-bottom: 2.5mm;
    text-align: justify;
    break-inside: avoid;
    float:none;
}

/* reference List
---------------------*/
#reference-list {
    break-after: page;
    break-before: page;
    text-align: left;
}

#reference-list .main-title {
    margin-top:0;
    margin-bottom:5mm;
}

.reference {
    font-family: var(--long-text-font-family);
    page-break-inside: avoid;
    text-align: left;
    padding-bottom: 2.5mm;
}

.reference > .mixed-citation {
    font-family: var(--long-text-font-family);
    font-size: 8.3pt;
    font-weight: 300; /* light */
    line-height: 1.385;/* 11.5pt to 8.3pt */
    margin-top:0;
    text-align: justify;
}

.mixed-citation > .label {
    font-family: var(--long-text-font-family);
    font-size: 8.3pt;
    font-weight: 600; /* semi-bold */
    line-height: 1.385;/* 11.5pt to 8.3pt */
    margin: 0;
    margin-right: 2.5mm;
}

.mixed-citation > a {
    /* text-decoration: none; */
}

.ext-ref {
    color: var(--long-text-color);
    text-decoration-thickness: 0.1pt;
}

.ext-ref[data-specific-use='zenon'] {
    word-break: keep-all;
    margin-left: 0.5mm;
    text-decoration: none;
}

/* source of Illustrations:
--------------------------*/
#source-of-illustrations {
    font-family: var(--short-text-font-family);
    text-align:left;
}

.attribution {
    font-family: var(--short-text-font-family);
    font-size: var(--p-font-size);
    font-weight: 300;
    line-height: 1.5 /* 14pt to 9.3pt */;
    margin: 0.5mm 0;
    text-align: left;
}

.attribution > .img-label {
    font-family: var(--short-text-font-family);
    font-size: var(--p-font-size);
    font-weight: 300;
    line-height: 1.5 /* 14pt to 9.3pt */;
    margin: 0.5mm 0;
    text-align: left;
}

/* meta-section (appendices):
---------------------------*/
.meta-section {
    width: 115%;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-fill: auto;
    column-gap: 4mm;
}

.meta-section.right-page {
    margin-left:-20mm;
}

.meta-section.left-page {
    margin-right:-20mm;
}

.contributors-card {
    margin: 2.5mm 0;
}

.contributors-card > p {
    font-family: var(--short-text-font-family);
    text-align:left;
    margin: 0;
}

.contributor-link {
    text-decoration: none;
    word-break: normal;
}

.contributor-link:before {
    content: "\260D";
    padding-right: 1mm;
}

.institution-link {
    text-decoration: none;
    word-break: normal;
}

.institution-link:before {
    content: "\260D";
    padding-right: 1mm;
}

#qrcode {
    margin-bottom:5mm;
    width: 80%;
}

.metadata-doi-link {
    font-family: var(--short-text-font-family);
    font-size: 9.5pt;
    color: var(--journal-color);
}

/* imprint
-------------*/
#imprint {
    font-family: var(--short-text-font-family);
}

#imprint > p {
    font-family: var(--short-text-font-family);
    font-size: var(--p-font-size);
    font-weight: 300;
    line-height: 1.5 /* 14pt to 9.3pt */;
    text-align: left;
}

.publisher {
    margin-top: 5mm;
}

.publisher-name {
    margin:0;
}

.publisher > p {
    font-family: var(--short-text-font-family);
    font-size: var(--p-font-size);
    font-weight: 300;
    line-height: 1.5 /* 14pt to 9.3pt */;
    text-align: left;
    padding:0;
}

.publisher-loc > p {
    font-family: var(--short-text-font-family);
    font-size: var(--p-font-size);
    font-weight: 300;
    line-height: 1.5 /* 14pt to 9.3pt */;
    padding:0;
    margin:0;
}

.publisher-loc > a.ext-ref {
    font-family: var(--short-text-font-family);
    font-size: var(--p-font-size);
    font-weight: 300;
    line-height: 1.5;
};

.contributors-imprint > div {
    font-family: var(--short-text-font-family);
    padding:0;
    margin:0;
}

.role {
    font-family: var(--short-text-font-family);
    font-style: italic;
    padding:0;
    margin-top: 2.5mm;
}

#journal-doi-link {
    display: block;
    color: var(--journal-color);
}

.self-reference {
    margin-top: 2.5mm;
}

.self-reference > a {
    font-style: italic;
}

/* image components
--------------------*/
#cloned-images-container {
    break-before: page;
}

.cover-image {
    margin-top: 3vh;
    width: 100% !important;
}

img.inline-graphic {
    display: inline-block;
    width: 1.25em;
    transform: translate(0, 0.2em);
}

figure {
    position: relative;
    margin: 5mm 0 5mm 0;
    break-inside: avoid;
}

figure.first-element {
    margin: 0 0 10mm 0;
}

img {
    border:1px solid #e9e9e9;
    width: 100%;
    margin-bottom: var(--imgMarginBottom);
}

img:hover{
    box-shadow: 0em 0em 0px 1px rgb(239, 101, 238);
}

figCaption {
    text-align: left;
    hyphens: auto;
    margin-top: 5mm;
    display:none;
}

.caption-text {
    font-family: var(--short-text-font-family);
    font-size: var(--caption-font-size);
    font-weight: 300; /* light */
    line-height: var(--line-height-cap);
    margin:0;
    text-align: left;
}

.img-label {
    font-family: var(--short-text-font-family);
    font-size: var(--caption-font-size);
    font-weight: 300; /* light */
    line-height: 1.37; /* 10pt to 7.3pt */
}

.fig-number {
    font-family: var(--short-text-font-family);
    font-size: var(--caption-font-size);
    font-weight: 300; /* light */
    line-height: 1.37; /* 10pt to 7.3pt */
}

.fig-number.left-page {
    float:right;
}

.fig-number.right-page {
    float:left;
}

/* ---------------------------------
styles for classified images
----------------------------------*/

.float-w-col-2.left-page {
    float: right;
    clear: both;
    margin-left: 5mm !important; 
    margin-right: var(--floatFigureOffsetToMarginArea) !important; 
    margin-bottom: var(--floatFigureMarginBottom) !important;
    margin-top: 1mm !important;
}

.float-w-col-2.right-page {
    float: left;
    clear: both;
    margin-left: var(--floatFigureOffsetToMarginArea) !important;
    margin-right: 5mm !important;
    margin-bottom: var(--floatFigureMarginBottom) !important;
    margin-top: 1mm !important;
}

.float-w-col-4.left-page {
    float: right;
    clear: both;
    margin-right: var(--floatFigureOffsetToMarginArea) !important;
    margin-left: var(--floatFigureMarginToText) !important;
    margin-bottom: var(--floatFigureMarginBottom) !important;
    margin-top: 5mm !important;
}

.float-w-col-4.right-page {
    float: left;
    clear: both;
    margin-left: var(--floatFigureOffsetToMarginArea) !important;
    margin-right: var(--floatFigureMarginToText) !important;
    margin-bottom: var(--floatFigureMarginBottom) !important;
    margin-top: 5mm !important;
}

.float-w-col-6.left-page {
    float: right;
    clear: both;
    margin-right: var(--floatFigureOffsetToMarginArea) !important;
    margin-left: var(--floatFigureMarginToText) !important;
    margin-bottom: var(--floatFigureMarginBottom) !important;
    margin-top: 5mm !important;
}

.float-w-col-6.right-page {
    float: left;
    clear: both;
    margin-left: var(--floatFigureOffsetToMarginArea) !important;
    margin-right: var( --floatFigureMarginToText) !important;
    margin-bottom: var(--floatFigureMarginBottom) !important;
    margin-top: 5mm !important;
}

.inset > figcaption {
    position: absolute;
    width: 40mm !important;
    float: right;
    margin-right: -50mm;
    padding: 5mm 0;
    right: 0;
    bottom: 0;

    /*   width: 100% !important;
    margin-bottom: 7.5mm;
    display: block; */
}

.regular.right-page > figCaption {
    position: absolute;
    width: 25%!important;
    float: left;
    margin-left: -30%;
    padding: 0.5vh 0;
    left: 0;
    bottom: 0;
}

.regular.left-page > figCaption {
    position: absolute;
    width: 25%!important;
    float: right;
    margin-right: -30%;
    padding: 0.5vh 0;
    right: 0;
    bottom: 0;
}

.regular-bottom > figcaption {
    width: 100% !important;
    margin-bottom: 7.5mm;
    display: block;
}

.overmargin.right-page {
    margin-left: -40mm;
    margin-bottom: 5mm;
}

.overmargin.right-page {
    margin-left: -40mm;
    margin-bottom: 5mm;
}

.overmargin.right-page > figCaption {
    position: absolute;
    width: 32.5mm !important;
    float: left;
    margin-top: 7.5mm;
    left: 0;
}

.overmargin.left-page > figCaption {
    position: absolute;
    width: 32.5mm !important;
    float: right;
    margin-top: 7.5mm;
    right: 0;
}

.overmargin-bottom.right-page {
    margin-left: -40mm;
    margin-bottom: 5mm;
}

.overmargin-bottom.left-page {
    margin-right: -40mm;
    margin-bottom: 5mm;
}

.overmargin-bottom > figcaption {
    width: 100% !important;
    margin-top: 5mm;
    display: block;
}

.overmargin-bottom > .fig-number {
    display:none;
}

/* Table of contents (ToC)
---------------------------- */
#contents {
    break-before: page;
}

ul.toc-list {
    padding: 0 1vw;
    break-after: page;
}

.heading-ref {
    cursor: pointer;
    display: block;
    font-size: 10pt;
    border: 1px solid transparent;
}

.heading-ref.active {
    color: rgba(0, 0, 0, 0.9);
    background: #fff;
    border: 1px solid #eee;
}

.heading-ref.level-1 {
    font-size: 15pt;
}

.heading-ref.level-2 {
    font-size: 12pt;
    font-weight: 600;
    border-top: 1px solid #e2e2e2;
}

.heading-ref.level-3 {
    font-size: 9pt;
}

.heading-ref.level-4 {
    font-size: 8pt;
}

.heading-ref.level-5 {
    font-size: 7pt;
}

.heading-ref:hover {
    color: black;
}

.heading-ref-a {
    text-decoration: none;
    color: #535557;
}

.heading-ref-a::after {
    content: target-counter(attr(href), page);
    float: right;
}

/* application specific
 ------------------------*/
.display-data-attributes::after {
    font-size:8pt;
    border:1px dotted deeppink;
    color: deeppink;
    background: var(--color-paper);
    content: " " attr(data-after);
}

.blur {
    filter: blur(4px);
}

.fade-in {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
}

.warning-box {
    border: 5px dotted yellow;
}

.warning-text {
    color:red;
    background: lightgray;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* FONTS 
-----------------------*/
@font-face {
    font-family: "Noto Serif Light";
    src: 
    url(assets/fonts/NotoSerif-Light.woff2) format("woff2"),
    url(assets/fonts/NotoSerif-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal; 
}

@font-face {
    font-family: "Noto Sans Light";
    src: url(assets/fonts/NotoSans-Light.woff2) format("woff2"),
    	url(assets/fonts/NotoSans-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal; 
}
