:root {
    --content-background: white; /*  #2b2929; */
    --content-text-color: #000000;
    --panel-background: #918A82;
    --panel-text-color: #e7e7e7;
    --panel-text-font-size: 0.9rem;
    --primary-font-family: "Noto Serif Light", serif;
    --secondary-font-family: "Noto Sans Light";
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
}

html {
   overflow:hidden; 
   scroll-behavior: smooth;
}

body {
    overflow:auto;
}

.column {
    float: left;
    resize:horizontal;
}

.column>* {
    direction:ltr;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#main-wrapper {
    height: 100vh;
    display:flex;
    background: var(--background-url) #ffffff;
    background-blend-mode: luminosity;
    background-size:65%;
}

#text-content-wrapper {
    width: 60%;
    font-family: var(--primary-font-family);
    background: linear-gradient(0.20turn, #f9f9f9ba, #ffffff, #ffffffc9, #ffffff66, #ffffff00);
    overflow-y: scroll;
    height: 100vh;
}

#panel-wrapper {
    width: 40%;
    font-family: var(--secondary-font-family);
    background: var(--panel-background);
    padding-bottom: 10vh;
    overflow-y: scroll;
    height: 100vh;
}

#content-body {
    padding: 1% 4% 4% 4%;
    background: url(/assets/graphics/absurdity-1920x1080.png);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

#nav-header {
    background-color: var(--journal-color);
    font-family: var(--secondary-font-family);
    height: 100%;
    min-width: 3%;
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden;
    opacity: 0.95;
}

nav.panel-navigation {
    padding: 0;
    text-align: left;
}

nav.panel-navigation ul {
    padding: 2vh 0;
    writing-mode: tb;
}

nav.panel-navigation li {
    display: inline-block;
}

span.fa {
    display: inline-block;
    font-size: 1.25rem;
    padding: 0.5vw;
}

.panel-anchors {
    font-weight: 500;
    color: rgb(255 255 255);
    padding: 1vh 0.5vw;
    font-size: 1rem;
}

.panel-anchors:hover {
    display: block;
    cursor: pointer;
    background: var(--content-background);
    color:var(--journal-color);
}

.panel-anchors.active {
    background: var(--content-background);
    color:var(--journal-color);
}

.panel {
    font-family: var(--secondary-font-family);
}

.iDAI-icon {
    width:2.25rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--journal-color);
  color: white;
  text-align: center;
}

/* Sections and Headlines
---------------------------*/

section {
    background: #ffffff73;
    box-shadow: 2px 1px 20px 20px #ffffff8f;
}

section:first-of-type {
    border-top:none !important;
 }

 section[level="1"] {
    border-top: 1px solid #f2f0f0;
    padding-top: 2%;
    margin-top: 2%;
 }

 section[level="1"] > .title:first-of-type {
    padding-top: 0;
 }

 section[level="2"] {
    column-span: all;
    border-top: 1px solid #f2f0f0;
    padding-top: 2%;
    margin-top: 2%;
 }

 section[level="2"] > .title:first-of-type {
    padding-top: 0;
 }

 section[level="3"] {
    column-span:all;
 }

.title {
    color: var(--journal-color);
    font-weight: 500;
}

.main-title {
    font-size: 1.5rem;
    break-after: avoid;
    column-span: all;
    margin-bottom: 2%;
}

.section-title {
    font-size: 1.25rem;
    padding-top: 2%;
    break-after: avoid;
    column-span: all;
    margin-bottom: 1%;
}

.subsection-title {
    font-size: 1rem;
    padding-top: 2%;
    padding-bottom: 2%;
    break-after: avoid;
}

.panel-title {
    color: white;
    font-family: var(--secondary-font-family);
    font-size: 1.5rem;
    margin: 1vh 0 2vh 0;
}

/* paragraph elements 
-------------------------*/

p[id] {
    color: var(--content-text-color);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.75;
    margin-bottom: 2%;
    text-align: justify;
    word-spacing: -0.05rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    -moz-hyphens:  auto;
    -ms-hyphens: auto;
}

p.highlight {
    border-top:1px solid var(--journal-color);
    border-bottom:1px solid var(--journal-color);
}

p.catalog-number {
    color: var(--journal-color);
    column-span: all;
    border-top: 1px solid #f2f0f0;
    margin-top: 2%;
    font-size: 1.1rem;
}

.paragraph-counter {
    font-size: 1rem;
    margin-right: 2vw;
    color:#b4afa7;
    font-style:normal;
    font-weight:300;
}

/* list elements 
--------------------*/

ul {
    margin-bottom:2%;
}

li {
    color:#c4c2c2 !important;
    font-family: var(--primary-font-family);
    font-size:1rem;
    line-height: 1.5;
    list-style-type: square;
}

.internal-index-box > li {
    list-style-type: none;
}

li::marker {
    color: var(--content-text-color);
}

.italic {
    font-style: italic;
}

/* anchors 
------------------*/

a {
    font-weight: 300;
    text-decoration: none;
}

#doi-link {
    padding: 3% 0 0 4%;
}

a#doi-anchor {
    font-size: 1rem;
    color: var(--journal-color);
}

a.fn-ref {
    vertical-align: super;
    font-size: 0.8rem;
    color: var(--journal-color);
}

a.fig-ref {
    color:var(--journal-color);
}

a.bib-ref {
    cursor: help;
    color: rgb(21, 92, 162);
    border-top: 1px dotted #bdbdb4;
    border-bottom: 1px dotted #bdbdb4;
}

a.ext-ref {
    color: rgb(155 205 255);
    text-decoration: underline;
}

a.data-source-link {
    color:rgb(21, 92, 162);
    text-decoration: underline;
}

a.index-ref {
    padding-right:1%;
    color:white;
}

a.index-ref > i {
    font-style: normal;
    color: #ffffff;
}

/* Table elements 
---------------------*/

table {
    column-span: all;
    display: grid;
    font-size: 0.9rem;
    line-height: 1.2;
    margin: 2% 0;
    justify-content: start;
}

tr {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10px,1fr));
    position: relative;
    border-bottom: 1px solid #e7e5e5;
}

td {
    color: #000000;
    padding: 6px 12px;
    overflow: hidden;
    outline: none;
    line-break: normal;
    border-right: 1px solid #e6e6e6;
}

td > p {
    line-height: 1.75;
    margin: 0 !important;
}

/* cover section 
--------------------*/
.page-header {
    padding: 2% 4%;
    margin: 2% 0 1% 0;
    max-width: 80%;
}

.page-title {
    color: var(--journal-color);
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 1vh;
    text-shadow: -1px -1px 10px #fdfdfd8c;
}

.page-subtitle {
    color: var(--journal-color);
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
}

.page-authors {
    color: black;
    font-weight: 300;
    font-size: 1rem;
    margin-top: 2vh;
}

.page-contributors {
    color: #000000;
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 1vh;
    font-style: italic;
}

#abstracts-section {
    margin: 4% 0 0 0;
}

.abstract-box {
    display: none;
    background: #ffffffcc;
    padding: 2%;
    margin-top: 1%;
    border-radius: 25px;
}

.abstract-button {
    font-style: var(--secondary-font-family);
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.25rem;
    color: #ffffff;
    border: none;
    background: var(--journal-color);
    border-radius: 0.25rem;
}

.abstract-button:hover {
    cursor: pointer;
    text-decoration: none;
}

.abstract-button.active {
    text-decoration: none;
    display:inline;
}

.abstract-text {
    font-style:italic;
    padding-bottom: 2%;
}


/* Table of contents (ToC)
--------------------------- */

#contents:target {
    display:block;
}

#contents {
    font-family: var(--secondary-font-family);
}

ul#toc-list {
    padding: 0;
    margin-top:4vh;
    margin-bottom:5vh;
    padding: 0 2vw;
}

.heading-ref {
    cursor: pointer;
    display: block;
    font-weight: 200;
    font-size: 0.9rem;
}

.heading-ref-a {
    color: black;
    font-weight: 300;
}

.heading-ref-a.active {
    color:white !important;
    border-top: 1px solid var(--journal-color);
    border-bottom: 1px solid var(--journal-color);
    display: inline;
}

.heading-ref.level-1 {
    font-size: 1rem;
    margin: 0.5vh 0;
    font-weight: 600;
}

.heading-ref.level-2 {
    font-size: 0.9rem;
    margin-left: 1.5vw;
    font-weight: 300;
}

.heading-ref.level-3 {
    font-size: 0.8rem;
    margin-left: 3vw;
    font-weight: 300;
}

.heading-ref:hover {
    color: white !important;
}

.cover-image {
    width: auto;
    max-width: 100%;
    height: auto;
}


/* (foot)notes section 
------------------------*/
#notes:target {
    display:block;
}

#notes {
    font-family: var(--secondary-font-family);
    margin-left: 2vw;
    margin-right: 2vw;
}

div.footnote {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    line-height:1;
    margin: 2% 0;
}

div.footnote.highlight {
    border-top:1px solid var(--journal-color);
    border-bottom:1px solid var(--journal-color);
}

div.footnote > p {
    color: var(--panel-text-color);
    font-size: var(--panel-text-font-size);
    display: inline;
    line-height: 1.6;
    padding: 0;
    margin:0;
}

div.footnote > p > a.bib-ref {
    color: var(--panel-text-color) !important;
    font-size: var(--panel-text-font-size);
}

div.footnote > .label {
    color: black;
    font-size: var(--panel-text-font-size);
    font-weight: 500;
    padding-right:2%;
}

/* references 
-----------------*/
#references:target {
    display:block;
}

#references {
    font-family: var(--secondary-font-family);
    margin-right: 2vw;
    margin-left: 2vw;
}

div.reference {
    font-size: 1rem;
    margin: 1vw 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

div.reference.highlight {
    border-top:1px solid var(--journal-color);
    border-bottom:1px solid var(--journal-color);
}

div.reference > p {
    font-size: 0.9rem;
    line-height: 1.6;
    margin: 0;
    display: inline;
    text-align: left;
    color: var(--panel-text-color);
    hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
}

div.reference > .label {
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
}

a.zenon-link {
    display: block;
    width: fit-content;
    font-size: 0.75rem;
    margin-top: 1vh;
    padding: 0 0.25rem;
    background: #bdbdb4;
    color: black;
}

a.internal-index-anchor {
    cursor: pointer;
    display: block;
    width: fit-content;
    font-size: 0.75rem;
    margin-top: 1vh;
    padding: 0 0.25rem;
    background: #bdbdb4;
    color: black;
}

a.internal-index-anchor::before {
    content: "\2B9E";
    padding-right:0.5vw;
}

/* figure section 
-------------------*/

#figures:target {
    display:block;
}

#figures {
    font-family: var(--secondary-font-family);
    margin-right: 1vw;
    margin-left: 1vw;
}

div.figure-section > figure {
    display:flex;
    flex-direction: column;
    margin-bottom: 4vh;
}

figure.highlight {
    animation: fadeIn 2s;
}

figure > img {
    width: 100%;
    order: 1;
    border-radius:20px;
    box-shadow: 1px 1px 0px #807a7a;
    padding: 0.25%;
    background: white;
}

#poster-image > img {
    border-radius:0;
    border-bottom-left-radius: 20px;
    padding: 0;
}

figure > figCaption {
    margin: 1%;
    order: 2;
    font-size: 0.9rem !important;
}

figcaption > span.label {
    color: black;
    margin: 0;
    padding-right: 1%;
    font-size: 0.9rem !important;
}

figcaption > span.label::after {
    content: ":"
}

figcaption > p {
    color: var(--panel-text-color) !important;
    display: inline;
    font-size: 0.9rem !important;
    margin: 0;
    line-height: 1.5 !important;
}

figcaption > .attribution {
    color: var(--panel-text-color);
    margin: 0;
    font-style: italic;
    font-size: 0.9rem !important;
}

figure > a.internal-index-anchor {
    order: 3 !important;
}

figure > .internal-index-box {
    order: 4;
}

#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

.topbar-logo-img {
    width:inherit;
}

img.inline-graphic {
    display: inline-block;
    width: auto;
    max-width: 100%;
}

/* index-section 
------------------------*/
#index:target {
    display:block;
}

#index {
    font-family: var(--secondary-font-family);
}

#index > .panel-title {
    margin-right: 1vw;
    margin-left: 1vw;
}

#index-section > .table-title {
    padding: 0 3%;
    color: white;
}

.index-table {
    padding: 1vw;
    border:none;
    display: grid;
    font-size: 0.9rem;
    line-height: 1.2;
    margin: 2% 0;
    justify-content:normal;
}

.index-table > tbody > tr {
    border:none;
}

.index-table > tbody > tr > td {
    border: none;
}


/* locations 
----------------*/
#locations:target {
    display: block;
}

#locations {
    font-family: var(--secondary-font-family);
    margin-right: 1vw;
    margin-left: 1vw;
}

.map {
    height: 300px;
}

#objects:target {
    display:block;
} 

/* field objects
-----------------*/

#field {
    font-family: var(--secondary-font-family);
    margin-right: 1vw;
    margin-left: 1vw;
}

#field:target {
    display: block;
}

/* arachne objects
-----------------*/

#arachne {
    font-family: var(--secondary-font-family);
    margin-right: 1vw;
    margin-left: 1vw;
}

#arachne:target {
    display: block;
}

/* external objects
------------------*/

.external-object {
    font-size: var(--panel-text-font-size) !important;
    border-bottom:1px solid #cbcbcb;
    background:#bdbdb454;
    margin-right: -1vw;
    margin-left: -1vw;
}

.data-source-info {
    padding: 0 1vw;
}

.object-name {
    padding: 1vh 1vw;
    font-size: 0.9rem;
}

.object-visualization {
    font-style: italic;
    margin: 1vh 0;
    padding: 0 1vw;
}

.object-image {
    border-radius:20px;
    padding: 1vh 0;
    width: 100%;
}

.object-data {
    color:var(--panel-text-color);
    padding: 0 1vw;
}

/* internal-index-box
-----------------------*/

.internal-index-box {
    padding: 1%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 95%;
}

.text-quote-span {
    color: #3e3d3d;
    font-size: 0.9rem;
    font-style: italic;
}

.text-quote-span > .paragraph-counter {
    font-size: 0.9rem;
    margin-right: 1%
}

/* application related properties 
----------------------------------*/

details {
    padding-top: 2vh;
    color: black;
}

summary {
    font-size: 1rem;
    padding: 1vh;
    list-style: none;
}

summary:hover { 
    cursor:pointer;
}

summary::-webkit-details-marker {
    display: none; 
}

details summary::before { 
    color: var(--journal-color);
    content: "\2B9E";
    padding-right:0.5vw;
}

details[open] summary::before {
    color: var(--journal-color);
    content:"\2B9F ";
    padding-right:0.5vw;
}

.fade-in {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.warning-box {
    border: 2px dashed yellow !important;
}

.warning-text {
    background: #ffb6b6 !important;
}

/* -- Scrollbar 
---------------------*/
::-webkit-scrollbar {
    background: rgb(189, 189, 180);
    width:1vw;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background: var(--journal-color);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* FONTS 
-----------------------*/
@font-face {
    font-family: "Noto Serif Light";
    src: 
    url(/assets/fonts/NotoSerif-Light.woff2) format("woff2"),
    url(/assets/fonts/NotoSerif-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal; 
}

@font-face {
    font-family: "Noto Sans Light";
    src: url(/assets/fonts/NotoSans-Light.woff2) format("woff2"),
    	url(/assets/fonts/NotoSans-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal; 
}

/* MEDIA QUERIES
------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) and (max-width: 750px) {
    #text-content-wrapper {
        width: 100%;
    }
    
    #panel-wrapper {
        width: 100%;
        display:none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 750px) and (max-width: 900px){
    #text-content-wrapper {
        width: 60%;
    }
    #panel-wrapper {
        width: 40%;
        display:block
    }
}

/* Large devices (desktops, old screens, 992px and up) */
@media (min-width: 992px) {
  
}
/* X-Large devices (desktop, modern screens, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (desktop, larger screens, 1600px and up) */
@media (min-width: 1600px) {
    section {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-fill:balance;
        column-gap: 3%;
    }
}
