:root {
    --nav-header-height: 6vh;
    --content-background: white; /*  #2b2929; */
    --panel-background: #f9f9f9;
    --text-color: #000000;
    --primary-font-family: "Noto Serif", serif;
    --secondary-font-family: "Noto Sans", sans-serif;"
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
}

html {
   overflow:hidden; 
   scroll-behavior: smooth;
}

body {
    overflow:auto;
}

.column {
    float: left;
    width: 50%;
}

.column>* {
    direction:ltr;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#main-wrapper {
    margin-left: 3vw;
}

#text-content-wrapper {
    font-family: var(--primary-font-family);
    background: var(--content-background);
    padding: 3vh 3vw;
    overflow-y: scroll;
    height: 100vh;
}

.content-body {
    border-bottom: 1px solid lightgray;
}

#additional-resources-wrapper {
    font-family: var(--secondary-font-family);
    background: var(--panel-background);
    padding-bottom: 10vh;
    overflow-y: scroll;
    height: 100vh;
}

#nav-header {
    font-family: var(--secondary-font-family);
    height: 100%;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: var(--journal-color);
    overflow-x: hidden; 
}

nav.context-toggles {
    padding: 0;
    text-align: left;
}

nav.context-toggles ul {
    padding: 2vh 0;
    writing-mode: tb;
}

nav.context-toggles li {
    display: inline-block;
}

i.fa {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5vw;
}

.panel-anchors {
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    padding: 1vw 0.5vh;
    font-size: 1rem;
    color:white;
}

.panel-anchors:hover {
    display: block;
    cursor: pointer;
    background: var(--content-background);
    color:var(--journal-color);
}

.panel-anchors.active {
    background: var(--content-background);
    color:var(--journal-color);
}

.panel {
    font-family: var(--secondary-font-family);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--journal-color);
  color: white;
  text-align: center;
}

/* Headlines 
-------------------*/

.title {
    color: var(--journal-color);
    font-weight: 500;
}

.main-title {
    font-size: 1.5rem;
    padding: 1.5vh 0;
}

.section-title {
    font-size: 1.25rem;
    padding: 2.5vh 0;
}

.subsection-title {
    font-size: 1rem;
    padding: 2vh 0;
}

.panel-title {
    font-family: var(--primary-font-family);
    font-size: 1.5rem;
    padding: 1vw 0;
}

/* text block elements */

p[id] {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1vw;
    text-align: justify;
    word-spacing: -0.05rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    -moz-hyphens:  auto;
    -ms-hyphens: auto;
}

li {
    color:#c4c2c2 !important;
    font-family: var(--primary-font-family);
    font-size:0.9rem;
    line-height: 1.5;
}

/* anchors 
------------------*/

a {
    font-weight: 300;
    text-decoration: none;
}

div#doi-link {
    background: url(https://upload.wikimedia.org/wikipedia/commons/1/11/DOI_logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px solid lightgray;
}

a#doi-anchor {
    margin-top: 1vh;
    padding-left: 2vw;
    color: black;
    display: block;
    font-size: 0.9rem;
}

a.fn-ref {
    color: var(--journal-color);
    padding: 0 0.25vw;
}

a.fig-ref {
    color:var(--text-color);
    font-weight:600;
}

a.bib-ref {
    cursor: help;
    background: #f4f4f4;
    border: 1px dotted var(--journal-color);
    color: black;
    padding: 0 0.5%;
}

a.ext-ref {
    color: var(--journal-color);
    text-decoration: underline;
}

a.data-source-link {
    color:#211f1f;
    text-decoration: underline;
}

/* Table elements 
---------------------*/

table {
    display: grid;
    font-size: 0.9rem;
    border: 1px solid #ffffff3b;
    line-height: 1.4;
}

tr {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10px,1fr));
    position: relative;
}

td {
    color: black;
    border-right: 1px solid #ffffff3b;
    padding: 6px 12px;
    overflow: hidden;
    outline: none;
    line-break: normal;
}

/* Table of contents (ToC)
--------------------------- */

#contents:target {
    display:block;
}

ul#toc-list {
    padding: 0;
    margin-top:4vh;
    margin-bottom:5vh;
    padding: 0 2vw;
}

.heading-ref {
    color: black !important;
    cursor: pointer;
    display: block;
    font-weight: 200;
    font-size: 0.9rem;
}

.heading-ref-a {
    color: black;
    font-weight:300;
}

.heading-ref-a.active {
    border-top: 1px solid  var(--journal-color);
    border-bottom: 1px solid  var(--journal-color);
    background:white;
    display: inline;
}

.heading-ref.level-1 {
    font-size: 0.9rem;
    margin: 0.5vh 0;
    font-weight: 600;
}

.heading-ref.level-2 {
    font-size: 0.85rem;
    margin-left: 1.5vw;
    font-weight: 300;
}

.heading-ref.level-3 {
    font-size: 0.8rem;
    margin-left: 3vw;
    font-weight: 300;
}

.heading-ref:hover {
    color: white !important;
}

.cover-image {
    width: auto;
    max-width: 100%;
    height: auto;
}

.paragraph-counter {
    color:#b4afa7;
    font-size:14px;
    font-style:normal;
    font-weight:300;
    margin-right: 3vw;
}

/* cover section 
--------------------*/
.page-header {
    border-bottom: 1px solid lightgray;
    padding: 4vh 0;
    margin: 2vh 0;
}

.page-title {
    color: var(--journal-color);
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 3vh;
}

.page-subtitle {
    color: var(--journal-color);
    margin: 0;
    font-size: 1.75rem;
    font-weight: 300;
}

.page-authors {
    color: #929292;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 4vh;
}

.page-contributors {
    color: #929292;
    font-weight: 200;
    font-size: 1rem;
    margin-top: 1vh;
}

/* (foot)notes section 
------------------------*/
#notes:target {
    display:block;
}

#notes {
    font-family: var(--secondary-font-family);
    margin-left: 2vw;
    margin-right: 2vw;
}

div.footnote {
    margin: 1vw 0;
    line-height:1;
}

div.footnote > p {
    font-size: 0.8rem;
    display:inline;
    padding:1vw;
    color: #7e7e7e;
}

div.footnote > .label {
    font-size: 0.8rem;
    font-weight: 500;
}

/* references 
-----------------*/
#references:target {
    display:block;
}

#references {
    font-family: var(--secondary-font-family);
    margin-right: 1vw;
    margin-left: 1vw;
}

div.reference {
    font-size: 1rem;
    margin: 1vw 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

div.reference > p {
    font-size: 0.9rem;
    line-height: 1.2;
    color: #7e7e7e;
    display: inline;
    text-align: left;
    width: 75%;
}

div.reference > .label {
    font-size: 0.9rem;
    color: #7e7e7e;
    font-weight: 300;
    width: 25%;
}

/* figure section 
-------------------*/

#figures:target {
    display:block;
}

#figures {
    font-family: var(--secondary-font-family);
    margin-right: 1vw;
    margin-left: 1vw;
}

div.figure-section > figure {
    display:flex;
    flex-direction: column;
    font-size: 0.8em !important;;
    margin-bottom: 4vh;
    background:white;
}

div.figure-section > figure.active {
    scroll-margin-top: var(--nav-header-height);
}


figure > img {
    width: 100%;
    order:1;
}

figure > span.label {
    margin: 0;
    order: 2;
}

figure > figCaption {
    margin: 0;
    order: 3;
}

figCaption > p {
    display:inline;
    color: #7e7e7e !important;
}

figure > .attribution {
    color: #7e7e7e;
    margin: 0;
    order: 4;
}

#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

.topbar-logo-img {
    width:inherit;
}

img.inline-graphic {
    display: inline-block;
    width: auto;
    max-width: 100%;
}

/* information-section 
------------------------*/
#information:target {
    display:block;
}

#information {
    font-family: var(--secondary-font-family);
    margin-right: 1vw;
    margin-left: 1vw;
}

#infos {
    padding: 1vw;
    background: #ffffff;
    border: 1px solid #e1c5c5;
}

/* locations 
----------------*/
#locations:target {
    display: block;
}

#locations {
    font-family: var(--secondary-font-family);
    margin-right: 1vw;
    margin-left: 1vw;
}

.map {
    height: 300px;
}

#objects:target {
    display:block;
} 

/* objects
--------------*/

#objects {
    font-family: var(--secondary-font-family);
    margin-right: 1vw;
    margin-left: 1vw;
}

#objects:target {
    display: block;
}

.external-object {
    font-size: 0.8rem !important;
    border-bottom:1px solid #e4e4e4;
    background:white;
    margin-right: -1vw;
    margin-left: -1vw;
}

.data-source-info {
    padding: 0 1vw;
}

.object-name {
    padding: 1vh 1vw;
    font-size: 0.9rem;
}

.object-visualization {
    font-style: italic;
    margin-top: 1vh;
    padding: 0 1vw;
}

.object-image {
    padding: 1vh 0;
    width: 100%;
}

.object-data {
    padding: 0 1vw;
}


/* application related properties 
----------------------------------*/

details {
    padding-top: 2vh;
    color: #211f1f;
}

summary {
    font-size: 1rem;
    padding: 1vh;
    list-style: none;
}

summary:hover { 
    cursor:pointer;
}

summary::-webkit-details-marker {
    display: none; 
}

details summary::before { 
    color: var(--journal-color);
    content: "\2B9E";
    padding-right:0.5vw;
}

details[open] summary::before {
    color: var(--journal-color);
    content:"\2B9F ";
    padding-right:0.5vw;
}

.fade-in {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.warning-box {
    border: 5px dotted yellow !important;
}

.warning-text {
    background: #ffb6b6 !important;
}

/* -- Scrollbar 
---------------------*/
::-webkit-scrollbar {
    background: #ffffff;
    width:1vw;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background: var(--journal-color);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* FONTS 
-----------------------*/
@font-face {
    font-family: "Noto Serif";
    src: 
    url(/assets/fonts/NotoSerif-Light.woff2) format("woff2"),
    url(/assets/fonts/NotoSerif-Light.woff) format("woff");
    color: blue;
    font-style: normal; 
}

@font-face {
    font-family: "Noto Sans";
    src: url(/assets/fonts/NotoSans-Regular.woff2) format("woff2"),
    	url(/assets/fonts/NotoSans-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal; 
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, old screens, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (desktop, modern screens, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (desktop, larger screens, 1600px and up) */
@media (min-width: 1600px) {}
