/* style presets */
:root {
    --topbar-logo-url: './../assets/journal-styles/RM_Logo.png';
}

/* -- MAIN STYLES ---*/
html {
    font-family: "Noto Serif Lt", "Noto Sans Egyptian Hieroglyphs", "Noto Sans Arabic Light", "Noto Sans Devanagari Light", "Noto Sans Anatolian Hieroglyphs", "Noto Sans CJK TC", "Noto Sans CJK SC", serif;
    font-weight: 300;
    color: #000000;
    overflow:hidden;
}

/* -- Scrollbar ---*/

::-webkit-scrollbar {
    width: 1.5vw;
    background: #b7b7b7;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background:white;
}

#header {
    top: 0;
    left: 0;
    height: 82px;
}

#topbar {
    background: var(--journal-color);
    position: fixed;
    height: 82px;
}

#menuBar {
    background: var(--journal-color);
    position: fixed;
    height: 82px;
    overflow: hidden;
    left: 50vw;
}

.column {
    float: left;
    width: 50%;
}

.column>* {
    direction:ltr;
    padding:0 0.5vw;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#text-content-wrapper {
    background: white;
    padding: 2vh 3vw;
    overflow-y: scroll;
    height: 100vh;
    direction:rtl;
}

#additional-resources-wrapper {
    background: #c5c5c5;
    overflow-y: scroll;
    height: 100vh;
}

#additional-resources-wrapper > .panel {
    min-height: 100vh;
    margin-bottom: 5vh;
}

.context-toggles {
    margin-top: 58px;
}

.context-toggles a {
    font-family: "Noto Sans SemBd", "Noto Sans Egyptian Hieroglyphs", "Noto Sans Arabic Light", "Noto Sans Devanagari Light", "Noto Sans Anatolian Hieroglyphs", "Noto Sans CJK TC", "Noto Sans CJK SC", sans-serif;
    font-weight: 600;
    color: white;
    padding: 0.5vw;
    font-size: 14px;
    line-height: 24px;
}

.context-toggles a:hover {
    cursor: pointer;
}
.context-toggles a i {
    display: none;
}

.context-toggles a.active {
    background: #918a82;
    color: #eeeeee;
    border-bottom: none;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

.panel {
    padding: 0 1vw;
}

.panel > .contents {
    padding:0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans Light", sans-serif;
    font-weight: 600;
}

h1 {
    color: var(--journal-color);
    font-size: 2em;
    padding: 3.5vh 0;
    line-height: 1.5;
}

h2 {
    color: var(--journal-color);
    font-size: 1.6em;
    padding: 2.5vh 0;
}

h3 {
    color: var(--journal-color);
    font-family: "Noto Sans", sans-serif;
    padding: 2vh 0;
}

p {
    /* counter-increment: paragraphNumber; */
    color: black !important;
    font-family:"Noto Serif Light", serif;
    font-size:1.2em;
    line-height: 1.8;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens:  auto;
    -ms-hyphens: auto;
}


li {
    color:#000000;
    font-family:"Noto Serif Light", serif;
    font-size:0.9em;
    line-height: 1.5;
}

a {
    font-weight: 300;
    font-size: 1em;
    color: black;
    text-decoration: none;
    padding: 0.1vw;
}

table {
    display: grid;
    font-size: 0.9em;
    border: 1px solid #ffffff3b;
    line-height: 1.4;
    background: aliceblue;
}

tr {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10px,1fr));
    position: relative;
}

td {
    color: black;
    border-right: 1px solid #ffffff3b;
    padding: 6px 12px;
    overflow: hidden;
    outline: none;
    line-break: normal;
}

details {
    padding-top: 2vh;
    color: #211f1f;
}

summary {
    font-size: 1em;
    padding: 1vh;
}

.topbar-logo-img {
    width:inherit;
}

img {
    width: 100%;
}

/* Table of contents (ToC)
--------------------------------------- */

ul.toc-list {
    padding: 0;
    margin-top:4vh;
}

.heading-ref {
    cursor: pointer;
    display: block;
    font-weight: 600;
    font-size: 1em;
    border: 1px solid transparent;
}

.heading-ref.active {
    color: rgba(0, 0, 0, 0.9);
    background: #fff;
    border: 1px solid #eee;
}

.heading-ref.level-1 {
    font-size: 1.2em;
    font-weight: 600;
}

.heading-ref.level-2 {
    padding-left: 20px;
    font-size: 1em;
    font-weight: 600;
}

.heading-ref.level-3 {
    padding-left: 40px;
    font-size: 0.9em;
    font-weight: 600;
}

.heading-ref.level-4 {
    padding-left: 60px;
    font-size: 0.8em;
    font-weight: 600;
}

.heading-ref.level-5 {
    padding-left: 80px;
    font-size: 0.7em;
    font-weight: 600;
}

.heading-ref:hover {
    color: black;
}

.heading-ref-a {
    color:black;
    font-weight:300;
}
.cover-image {
    margin-top:15vh;
    width: auto;
    max-width: 100%;
    height: auto;
}

.paragraph-counter {
    color:#b4afa7;
    font-family:"Noto Sans Light", sans-serif;
    font-size:14px;
    font-style:normal;
    font-weight:300;
    margin-right: 3vw;
}

.main-title {
    color: var(--journal-color);
    font-size: 2em;
    padding: 3.5vh 0;
    line-height: 1.5;
}

/* cover */
.page-header {
    /* background: #3f3e3e; */
    padding: 2vh 0;
    border-bottom: 1px solid lightgray;
}

.page-title {
    color: var(--journal-color);
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
}

.page-subtitle {
    color: var(--journal-color);
    margin: 0;
    font-size: 2em;
    font-weight:300;
}

.page-authors {
    color: var(--journal-color);
    margin: 0;
    font-weight:300;
    line-height: 1.2;
}

/* supplements */

.supplement-image {
    padding:1vh 0;
}

/* fade-in */

.fade-in {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}