/* style presets */
:root {
    --color: rgb(0, 46, 84);  /* rgb(0, 46, 84); */
    --journal-background: rgb(26 36 29 / 93%); /* rgb(226, 81, 12) */
    --panel-background: #858f98;
}

/* -- MAIN STYLES ---*/
html, body {
    scroll-padding-top: 12vh;
    margin: 0;
    overflow: hidden;
}

/* -- Scrollbar ---*/

::-webkit-scrollbar {
    width: 1.5vw;
    background: #b7b7b7;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    min-height:100vh;
}

::-webkit-scrollbar-thumb {
    background:white;
}

#header {
    top: 0;
    left: 0;
    height: 82px;
}

#topbar {
    background: var(--background);
    position: fixed;
    height: 82px;
}

#menuBar {
    background: var(--journal-background);
    overflow: hidden;
    left: 50vw;
    width:100%;
}

.column {
    float: left;
    width: 50%;
    overflow: auto;
}

.column>* {
    direction:ltr;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#text-content-wrapper {
    background: white;
    padding: 2vh 3vw 10vh 3vw;
    overflow-y: scroll;
    height: 100vh;
    direction:rtl;
}

#additional-resources-wrapper {
    background: var(--panel-background);
    padding: 2vh 0 10vh 0;
    overflow-y: scroll;
    height: 100vh;
}

#additional-resources-wrapper > .panel {
    min-height: 100vh;
    margin-bottom: 5vh;
}

.context-toggles {
    background: var(--journal-background);
}

.context-toggles a {
    font-family: "Noto Sans SemBd", "Noto Sans Egyptian Hieroglyphs", "Noto Sans Arabic Light", "Noto Sans Devanagari Light", "Noto Sans Anatolian Hieroglyphs", "Noto Sans CJK TC", "Noto Sans CJK SC", sans-serif;
    font-weight: 600;
    padding: 1vw;
    font-size: 14px;
    line-height: 24px;
}

.context-toggles a:hover {
    cursor: pointer;
}

.context-toggles a i {
    display: none;
}

.context-toggles a.active {
    background: #c5c5c5;
    color: black;
    border-bottom: none;
}

.panel > .contents {
    padding:0;
}

.figures {
    padding:6vh 2vw;
}

.supplements {
    padding:6vh 2vw;
}

.maps {
    padding:6vh 2vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans Light", sans-serif;
    font-weight: 600;
}

h1 {
    color: var(--color);
    font-size: 2em;
    padding: 3.5vh 0;
    line-height: 1.5;
}

h2 {
    color: var(--color);
    font-size: 1.6em;
    padding: 2.5vh 0;
}

h3 {
    color: var(--color);
    font-family: "Noto Sans", sans-serif;
    padding: 2vh 0;
}

p {
    /* counter-increment: paragraphNumber; */
    color:#000000;
    font-family:"Noto Serif Light", serif;
    font-size:1em;
    line-height: 1.8;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens:  auto;
    -ms-hyphens: auto;
}


li {
    color:#000000;
    font-family:"Noto Serif Light", serif;
    font-size:0.9em;
    line-height: 1.5;
}

table {
    display: grid;
    font-size: 0.9em;
    border: 1px solid #ffffff3b;
    line-height: 1.4;
    background: aliceblue;
}

tr {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10px,1fr));
    position: relative;
}

td {
    color: black;
    border-right: 1px solid #ffffff3b;
    padding: 6px 12px;
    overflow: hidden;
    outline: none;
    line-break: normal;
}

details {
    padding-top: 2vh;
    color: #211f1f;
}

summary {
    font-size: 1em;
    padding: 1vh;
}


/* Table of contents (ToC)
--------------------------------------- */

ul.toc-list {
    padding: 0 0 0 2vw;
    margin-top:4vh;
    font-weight:500;
    font-family: "Noto Serif Lt", serif;
}

.heading-ref {
    cursor: pointer;
    display: block;
    font-size: 1em;
    border: 1px solid transparent;
}

.heading-ref a:hover {
    color: black;
    background: #2dc6b1;
}

.heading-ref.active {
    color: rgba(0, 0, 0, 0.9);
    background: #837e7e;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    transition: background 2s;
}

.heading-ref.level-1 {
    font-size: 1.1em;
}

.heading-ref.level-2 {
    padding-left: 20px;
    font-size: 1em;
}

.heading-ref.level-3 {
    padding-left: 40px;
    font-size: 0.9em;
}

.heading-ref.level-4 {
    padding-left: 60px;
    font-size: 0.8em;
}

.heading-ref.level-5 {
    padding-left: 80px;
    font-size: 0.7em;
}

.heading-ref:hover {
    color: black;
}

.heading-ref-a {
    color: white;
    font-weight:500;
}


/* anchors and References */
a {
    color: #2dc6b1;
    font-weight: 600;
    text-decoration: none;
}

figcaption.active {
    background: whitesmoke;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    transition: background 2s;
}

/* figures and images */

.topbar-logo-img {
    width:inherit;
}

figure {
    padding:2vh 1vw;
}

figure > img {
    width: 100%;
}

.cover-image {
    margin-top:3vh;
    width: auto;
    max-width: 100%;
    height: auto;
}

.paragraph-counter {
    color:#b4afa7;
    font-family:"Noto Sans Light", sans-serif;
    font-size:14px;
    font-style:normal;
    font-weight:300;
    margin-right: 1vw;
}

.main-title {
    color: var(--color);
    font-size: 2em;
    padding: 3.5vh 0;
    line-height: 1.5;
}

/* cover */
.page-header {
    background: white;
    padding: 2vh 0;
    border-bottom: 1px solid lightgray;
}

.page-title {
    color: var(--color);
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
}

.page-subtitle {
    color: var(--color);
    margin: 0;
    font-size: 2em;
    font-weight:300;
}

.page-authors {
    color: var(--color);
    margin: 0;
    font-weight:300;
    line-height: 1.2;
}

/* supplements */

.supplement-image {
    padding:1vh 0;
}

/* fade-in */

.fade-in {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}